:root {
  --blue: rgb(0, 213, 255);
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
  font-family: "Roboto Mono", monospace;
  overflow-y: scroll;
  overflow-x: hidden;
}

#header {
  height: 40px;
  overflow: hidden;
  position: relative;
  background: var(--blue);
  color: black;
}

#header h2 {
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 40px;
  text-align: center;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

#name {
  font-weight: bold;
  transition: text-shadow 0.5s;
}

#name:hover {
  text-shadow: 0 0 15px var(--blue);
}

#betaText {
  text-align: center;
  border-bottom: 2px solid rgb(255, 255, 255);
  line-height: 0.1em;
}

#email,
#submit {
  display: block;
  padding: 10px;
  font-size: 25px;
  border-radius: 10px;
  font-family: "Roboto Mono", monospace;
}

#email {
  border: 2px solid white;
  background: none;
  color: rgb(150, 150, 150);
  cursor: text;
}

#submit {
  border: 2px solid white;
  cursor: pointer;
  transition: border 0.5s, background-color 0.5s;
}

#submit:hover {
  background-color: var(--blue);
  border: 2px solid var(--blue);
  color: black;
}

#scroll a {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#scroll img {
  width: 40px;
  height: 30px;
  padding: 8px;
  animation: scrollUpDown 2s linear infinite;
  filter: opacity(0.4);
  transition: filter 0.5s;
}

#scroll img:hover {
  filter: opacity(1);
}

@keyframes scrollUpDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0px);
  }
}

#container3 {
  margin: 100px auto;
}

#footer {
  margin: 200px -20px -200px -20px;
  background-color: rgb(60, 60, 60);
  padding: 30px;
}

#site a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-family: "Syncopate", sans-serif;
  font-weight: bold;
  filter: opacity(0.6);
}

#site a:hover {
  filter: opacity(1);
}

#linkedin:hover,
#mail:hover {
  filter: opacity(1);
}

#mail {
  padding-top: 3px;
}

/* MOBILES */
@media screen and (max-width: 625px) {
  hr {
    color: white;
    background-color: white;
    width: 80%;
  }
  body {
    margin: 20px auto;
    overflow-x: hidden;
  }
  /* PAGE1 */

  #header h2 {
    font-size: 1.5em;
    position: absolute;
    max-width: 400px;
    -moz-animation: scroll-left 2s linear infinite;
    -webkit-animation: scroll-left 2s linear infinite;
    animation: scroll-left 8s linear infinite;
  }

  #container1,
  #container3 {
    text-align: center;
    margin-top: 40px;
  }

  #name {
    margin: auto;
    font-size: 7em;
  }

  #mainDescription {
    margin-top: -20px;
    font-size: 0.9em;
  }

  #mainImg img {
    margin-top: 50px;
    height: 400px;
  }

  #betaContainer1 {
    display: none;
    margin-top: 180px;
  }
  #betaContainer2 {
    margin: auto;
    max-width: 500px;
    margin-top: 200px;
  }

  #betaText {
    font-size: 20px;
    margin: 40px auto;
    width: 90%;
  }

  #betaText span {
    background: black;
    padding: 0px 10px;
  }

  #email,
  #submit {
    width: 90%;

    margin: 10px auto;
  }

  #scroll img {
    display: none;
  }

  /* PAGE2 */

  #container2 {
    margin: 50px auto;
    text-align: center;
  }

  #badges,
  #suits,
  #eternal {
    margin: 60px auto;
    width: 300px;
  }

  #title {
    font-size: 45px;
    color: var(--blue);
    margin-bottom: 5px;
  }

  #description {
    margin: 0px auto 40px auto;
    font-size: 0.9em;
  }

  #image img {
    margin-top: -20px;
    height: 400px;
  }

  #site {
    margin: 10px auto;
    text-align: center;
  }

  #socials {
    display: flex;
    justify-content: center;
  }

  #linkedin,
  #mail {
    width: 30px;
    height: 30px;
    filter: opacity(0.6);
    margin: 20px 20px 0px 20px;
  }
}

/* LAPTOPS */
@media screen and (min-width: 625px) {
  hr {
    display: none;
  }
  body {
    margin: 20px;
    overflow-x: hidden;
  }
  /* PAGE1 */

  #header h2 {
    position: absolute;
    -moz-animation: scroll-left 2s linear infinite;
    -webkit-animation: scroll-left 2s linear infinite;
    animation: scroll-left 20s linear infinite;
  }

  #container1,
  #container3 {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 20px;
  }

  #name {
    font-size: 140px;
  }

  #mainDescription {
    margin-top: -20px;
    font-size: 20px;
  }

  #mainImg img {
    margin-top: 30px;
    height: 500px;
  }

  #betaContainer1,
  #betaContainer2 {
    margin-top: 180px;
  }

  #betaText {
    font-size: 25px;
    margin-bottom: 40px;
    width: 100%;
  }

  #betaText span {
    background: black;
    padding: 0px 20px;
  }

  #email,
  #submit {
    width: 100%;

    margin-bottom: 10px;
  }

  /* PAGE2 */

  #container2 {
    padding-top: 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  #badges,
  #suits,
  #eternal {
    width: 300px;
  }

  #title {
    font-size: 40px;
    color: var(--blue);
    margin-bottom: 5px;
  }

  #description {
    margin-bottom: 40px;
  }

  #image img {
    margin-top: -20px;
    height: 480px;
  }

  #footer {
    display: flex;
    justify-content: space-between;
  }

  #site {
    margin-top: auto;
    margin-bottom: auto;
  }

  #socials {
    display: flex;
    justify-content: space-around;
  }

  #linkedin,
  #mail {
    margin: 20px;
    width: 30px;
    height: 30px;
    filter: opacity(0.6);
  }
}

/* KEYFRAMES */

/* @keyframes scrollRipple {
  from {
    opacity: 0.5;
    transform: scale3d(0.75, 0.75, 1);
  }

  to {
    opacity: 0;
    transform: scale3d(1.5, 1.5, 1);
  }
} */
